/* ======= Base ======= */
body {
  font-family: 'Roboto', sans-serif;
  color: #545E6C;
  background: #c1d5e0;
  font-size: 14px;
  padding-top: 60px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
a {
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: #ddd;
}
a:focus {
  text-decoration: none;
}
p {
  line-height: 1.5;
}

/* Override bootstrap */
.btn-primary{
  background: #62757f; 
  border: none;
}

/* Custom */
.hide {
  visibility: hidden;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.profile {
  margin-top: -60px;
}
.headline {
  color: #fff;
  background: #00023d;
  padding: 15px;
  text-align: center;
}

.contact {
  color: #fff;
  background: #00023d;
  padding: 30px;
  text-align: center;
  
}
.contact-list ul {
  margin-bottom: 0;
}
.contact-list {
  font-size: 14px;
  text-align: left;
}
.contact-list li {
  margin-bottom: 15px;
}
.contact-list li:last-child {
  margin-bottom: 0;
}
.contact-list .fa {
  margin-right: 15px;
  font-size: 18px;
}

.event-list {
  list-style: none;
}

.card-group {
  background: #00023d;
  color: #000;
  width: 90%;
  margin: auto;
}
.card {
  background: #00023d;
  margin-left: 1px;
  margin-right: 1px;
}
.card-header {
  background: rgba(255, 255, 255, 0.8);
  font-size:1,2em;
  font-weight:bold;
  text-decoration:none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-block{
  background: rgba(255, 255, 255, 0.7);
}
.card-text {
  text-align: left;
}
.card-footer {
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
}

.specialties {
  color: #fff;
  background: #62757f;
  padding: 10px;
  padding-top: 30px;
}


.experience {
  color: #555;
  background: #9dbbeb;
  padding: 10px;
  padding-top: 30px;
}


.education {
  color: #555;
  background: #9dbbeb;
  padding: 30px;
}

.perso {
  color: #666;
  background: #c1d5e0;
  padding: 30px;
  text-align: center;
}

.round-button {
  width:50px;
  height:50px;
  position:fixed;
  bottom:10px;
  right:10px;
  border-radius: 50%;
  border:3px solid #cfdcec;
  box-shadow: 3px 3px 3px gray;
  padding: 0px;
  padding-top: 2px;
  font-size:2em;
  font-weight:bold;
  text-decoration:none;
}

